@media screen and (max-width: 992px) {
  .header {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 118px;
      background-color: $dark-gray-color;
      z-index: 0;
    }

    &_container {
      max-width: 768px;
      position: relative;
      z-index: 1;
      align-items: flex-start;

      &_navi {
        flex-wrap: wrap;
        justify-content: flex-end;
        row-gap: 23px;

        &_btn-buy {
          order: 1;
        }

        &_list {
          width: 80%;
          order: 2;
          position: absolute;
          left: 10%;
          top: 90px;
          padding: 0 10px 0 10px;
          gap: 0;
        }
      }
    }

    &_title {
      padding-top: 69px;
      font-size: 72px;
    }

    &_subtitle {
      font-size: 24px;
    }

    &_description {
      font-size: 14px;
    }
  }
  .advantages{
    &__mobile__text{
      display: block;
    }
    &__conteiner {
      flex-wrap: wrap;
      justify-content: flex-end;
      padding-top: 50px;
      &__left{
        &__list__item{
          column-gap: 20px;
          &__img{
            width: 20%;
          }
          &__content{
            width: 80%;
          }
        }
        width: 100%;
      }
      &__right {
        padding: 73px 0 0 68px;
        width:100%;
        &--text {
          display: none;
        }
        &--img{
          width: 100%;
        }
      }
    }
  }
  .revolutionary {
    &__text{ 
      &--discription{ 
        width: 100%;
        padding: 33px 10px 0 10px;
      }
    }
    &__btns {
      margin-top: 40px;
    }
  }
  .people {
    &_title {
      padding: 86px 10px 0 10px;
      font-size: 42px;
    }

    &_container {
      max-width: 768px;
      row-gap: 88px;

      &_item {
        width: 45%;
        &_text {
          width: 90%;
        }
      }
    }

    &_footer {
      width: 100%;
      padding: 68px 10px 0 10px;
      
    }
  }
  .footer_fork{
    height: auto;
    &__container{
      padding-bottom: 20px;
      max-width: 768px;
      height: auto;
      flex-wrap: wrap;
      row-gap: 30px;
      &__item{

      }
    }
  }
}