$purple-color: #8D81AC;
$light-purple-color: #A291A5;
$dark-purple-color: #645766;
$purple-black-color: #635C73;
$gray-color: #848E97;
$dark-gray-color: #27262A;
$light-gray-color: #333333;
$white-color: #FFFFFF;
